# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# Node artifact files
node_modules/
.pnp
.pnp.js
dist/
# Log files
# Files generated at runtime
*.log
*.tmp
*.swp
*.lock
# Vite cache
.vite
.vitest
.cache
# Static files
public/static
# Local environment files
.env
.env.*.local
.vscode/
.settings/
**/node_modules/**